@import"./variable.scss";

html {
  font-size: 10px;
}

body {
  @apply bg-gray-200
}

button {

  outline: none;

}

button:focus {
  outline: none;
}

button:active {

  outline: none;

}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

.m-pb-1px {
  padding-bottom: 1px;
}

.m-text-gray {
  color: $gray;
}

.m-border-gray {
  border-color: #D7D7D7;
}

.m-h-1px {
  height: 1px;
}

.m-h-18 {
  height: 4.5rem;
}

.m-bg-black {
  background-color: $black;
}

.m-bg-yellow {
  background-color: $yellow;
}

.m-text-yellow {
  color: $yellow;
}