@mixin sprite($position) {
  background-image   : url('../assets/image/sprit.png');
  background-repeat  : no-repeat;
  background-position: $position;
}

.log-img {
  @include sprite(0 72.588%);
  background-size: 37.5rem 45.5rem;
  width          : 3rem;
  height         : 3rem;
}



.download-img {
  @include sprite(18.73% 71.694%);
  background-size: 37.5rem 45.5rem;
  width          : 6rem;
  height         : 2.4rem;
}